<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<br>   
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
   
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Diviertete y obten un record alto</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <p  class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </p>
        <p  class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </p>
        <p  class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </p>
        <p  class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </p>
        <p  class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </p>
        <p  class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </p>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
   
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>¿Como se juega?
            </h6>
            <p>
              Crece lo mas que puedas comiendote las manzanas que aparezcan sin tocar 
              alguna parte de tu cuerpo. 
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          
            <h6 class="text-uppercase fw-bold mb-4">
              Hecho con
            </h6>
            <p>
              <a class="text-reset">NodeJs</a>
            </p>
            <p>
              <a class="text-reset">Ejs</a>
            </p>
            <p>
              <a class="text-reset">bootstrap</a>
            </p>
            <p>
              <a class="text-reset">Amor</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
           
            <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
            <p><i class="fas fa-home me-3"></i> Andestid</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              Perfil gitgub:
            </p>
            <a href="https://github.com/Andestid?tab=repositories" class="fas fa-phone me-3">Ver repositorios</a>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    
  
   
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      Diviertete!
    </div>
  
  </footer>
  <!-- Footer -->
</body>
</html>