<nav class="navbar" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/img/Snakenavbar.png" alt="Logo" width="40" height="34" class="d-inline-block align-text-top">
        Sssssssnake
      </a>
    </div>
  </nav>